@import 'tailwindcss';

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overscroll-behavior: none;
  background: #1b1140;
}

* {
  -webkit-tap-highlight-color: transparent;
}
